<section class="about-us-section section" id="about">
    <div class="about-us-container container">
        <h2 class="about-us-title">Чому Хатинка Лапок</h2>
    <div class="swiper mySwiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
 <picture>
      <source
      media="(min-width: 1440px)"
      srcset="/img/about-us/Slide-1@1x.jpg    1x,
      /img/about-us/Slide-1@2x.jpg   2x"
      />
      <source
      media="(max-width: 767px)"
      srcset="/img/about-us/Slide-1-mob@1x.jpg 1x,
      /img/about-us/Slide-1-mob@2x.jpg 2x"
      />
      <source
      media="(min-width: 768px)"
      srcset="/img/about-us/Slide-1-tab@1x.jpg.jpg 1x,
      /img/about-us/Slide-1-tab@2x.jpg 2x"
      />
        <img class="swiper-img"
        src="/img/about-us/Slide-1@1x.jpg" alt="Slide 1" width="1312"/>
    </picture>
   
        <p class="swiper-text">Все почалося у 2015 році з кількох небайдужих людей та одного врятованого собаки. Сьогодні ми — один з найбільших притулків у регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.</p>
      </li>
      <li class="swiper-slide">
 <picture>
      <source
      media="(min-width: 1440px)"
      srcset="/img/about-us/Slide-2@1x.jpg    1x,
      /img/about-us/Slide-2@2x.jpg   2x"
      />
      <source
      media="(max-width: 767px)"
      srcset="/img/about-us/Slide-2-mob@1x.jpg 1x,
      /img/about-us/Slide-2-mob@2x.jpg 2x"
      />
      <source
      media="(min-width: 768px)"
      srcset="/img/about-us/Slide-2-tab@1x.jpg.jpg 1x,
      /img/about-us/Slide-2-tab@2x.jpg 2x"
      />
        <img class="swiper-img"
        src="/img/about-us/Slide-2@1x.jpg" alt="Slide 2" width="1312"/>
    </picture>
        <p class="swiper-text">Ми рятуємо, реабілітуємо та знаходимо люблячі родини для безпритульних тварин. Наша мета — не просто дати прихисток, а й забезпечити кожному "хвостику" щасливе та повноцінне життя в новій родині.</p>
      </li> 
      <li class="swiper-slide">
  <picture>
      <source
      media="(min-width: 1440px)"
      srcset="/img/about-us/Slide-3@1x.jpg    1x,
      /img/about-us/Slide-3@2x.jpg   2x"
      />
      <source
      media="(max-width: 767px)"
      srcset="/img/about-us/Slide-3-mob@1x.jpg 1x,
      /img/about-us/Slide-3-mob@2x.jpg 2x"
      />
      <source
      media="(min-width: 768px)"
      srcset="/img/about-us/Slide-3-tab@1x.jpg.jpg 1x,
      /img/about-us/Slide-3-tab@2x.jpg 2x"
      />
        <img class="swiper-img"
        src="/img/about-us/Slide-3@1x.jpg" alt="Slide 3" width="1312"/>
    </picture>
        <p class="swiper-text">"Хатинка Лапок" — це команда професійних ветеринарів, кінологів та десятків волонтерів, які щодня вкладають свою душу та час у турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від нас.</p>
      </li>
      <li class="swiper-slide">
 <picture>
      <source
      media="(min-width: 1440px)"
      srcset="/img/about-us/Slide-4@1x.jpg    1x,
      /img/about-us/Slide-4@2x.jpg   2x"
      />
      <source
      media="(max-width: 767px)"
      srcset="/img/about-us/Slide-4-mob@1x.jpg 1x,
      /img/about-us/Slide-4-mob@2x.jpg 2x"
      />
      <source
      media="(min-width: 768px)"
      srcset="/img/about-us/Slide-4-tab@1x.jpg.jpg 1x,
      /img/about-us/Slide-4-tab@2x.jpg 2x"
      />
        <img class="swiper-img"
        src="/img/about-us/Slide-4@1x.jpg" alt="Slide 4" width="1312"/>
    </picture>
        <p class="swiper-text">Ми створили безпечний та комфортний простір. Кожна тварина отримує якісне харчування, своєчасну ветеринарну допомогу, проходить соціалізацію та гуляє на спеціально обладнаних майданчиках.</p>
      </li>
      <li class="swiper-slide">
    <picture>
      <source
      media="(min-width: 1440px)"
      srcset="/img/about-us/Slide-5-@1x.jpg    1x,
      /img/about-us/Slide-5-@2x.jpg   2x"
      />
      <source
      media="(max-width: 767px)"
      srcset="/img/about-us/Slide-5-mob@1x.jpg 1x,
      /img/about-us/Slide-5-mob@2x.jpg 2x"
      />
      <source
      media="(min-width: 768px)"
      srcset="/img/about-us/Slide-5-tab@1x.jpg.jpg 1x,
      /img/about-us/Slide-5-tab@2x.jpg 2x"
      />
        <img class="swiper-img"
        src="/img/about-us/Slide-5-@1x.jpg" alt="Slide 5" width="1312"/>
    </picture>
        <p class="swiper-text">Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати волонтером, допомогти фінансово або інформаційно. Кожен маленький внесок наближає нас до великої мети — світу без безпритульних тварин.</p>
      </li>
    </ul>
    
  </div>

  <div class="container-swiper ">

  <div class="swiper-pagination"></div>

    <div class="btn-wrapper">
              <div class="swiper-button-prev swiper-btn ">
                <svg class="about-us-btn-icon" width="24" height="24">
                  <use href="/img/icons.svg#arrow-back"></use>
                </svg>
              </div>
              <div class="swiper-button-next swiper-btn">
                <svg class="about-us-btn-icon" width="24" height="24">
                  <use href="/img/icons.svg#arrow-next"></use>
                </svg>
              </div>
    </div>
</section>
