<div class="pet-modal-overlay is-open">
  <div class="pet-modal-window">
  <button type="button" class="pet-modal-close-btn">
    <svg class="close-icon" width="24" height="24">
      <use href="/img/icons.svg#close"></use>
    </svg>
    </button>
    
    <div class="pet-modal-content">

    </div>     

 </div>
</div> 

<!-- ДЕМО ДЛЯ СТИЛІЗАЦІЇ
  <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%BA%D0%BE%D1%88%D0%BA%D0%B8..jpg" 
   alt="рпрпр" class="pet-modal-img">

<div class="pet-modal-info">

    <div class="pet-modal-data">
<p class="pet-modal-species">Кіт</p>

<h3 class="pet-modal-name">Барсик</h3>

<div class="pet-modal-meta">
<p class="pet-modal-age">4 роки</p>
<p class="pet-modal-gender">Хлопчик</p>
</div>
</div>
<ul class="pet-modal-list">

<li class="pet-modal-item">
<h4 class="pet-modal-title">Опис:</h4>
<p class="pet-modal-text">Дуже дружній та грайливий котик.Дуже дружній та грайливий котик.
    Дуже дружній та грайливий котик.</p>
</li>

<li class="pet-modal-item">
<h4 class="pet-modal-title">Здоров'я:</h4>
<p class="pet-modal-text">Здоровий</p>
</li>

<li class="pet-modal-item">
<h4 class="pet-modal-title">Поведінка:</h4>
<p class="pet-modal-text">Активний та ласкавий"</p>
</li>

</ul>
<button type="button" class="take-btn">Взяти додому</button>
</div> -->
