<div class="pet-modal-overlay">
  <div class="pet-modal-window">
  <button type="button" class="pet-modal-close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 14 14"><path stroke="currentColor" d="M12.175.5c.164 0 .266.049.346.129a.45.45 0 0 1 .13.346.45.45 0 0 1-.13.346L7.268 6.575l.353.354 4.9 4.9c.08.08.13.182.13.346a.45.45 0 0 1-.13.346.45.45 0 0 1-.346.13.45.45 0 0 1-.347-.13l-4.9-4.9-.353-.353-5.254 5.254a.45.45 0 0 1-.346.128.45.45 0 0 1-.346-.129.45.45 0 0 1-.129-.346c0-.164.049-.267.129-.347l5.253-5.253-.354-.353-4.9-4.9A.45.45 0 0 1 .5.974.45.45 0 0 1 .629.629.45.45 0 0 1 .975.5c.164 0 .266.049.346.129l4.9 4.9.354.353L11.828.629A.45.45 0 0 1 12.175.5Z"/></svg>
    </button>
    
    <div class="pet-modal-content">

        <!-- render -->
         
<img src="${animal.imgURL}" alt="${animal.name}" class="pet-modal-img">

<div class="pet-modal-info">

<p class="pet-modal-species">${animal.species}</p>

<h3 class="pet-modal-name">${animal.name}</h3>

<div class="pet-modal-meta">
<p class="pet-modal-age">${animal.age}</p>
<p class="pet-modal-gender">${animal.gender}</p>
</div>

<ul class="pet-modal-list">

<li class="pet-modal-item">
<h4 class="pet-modal-title">Опис:</h4>
<p class="pet-modal-text">${animal.description}</p>
</li>

<li class="pet-modal-item">
<h4 class="pet-modal-title">Здоров'я:</h4>
<p class="pet-modal-text">${animal.healthStatus}</p>
</li>

<li class="pet-modal-item">
<h4 class="pet-modal-title">Поведінка:</h4>
<p class="pet-modal-text">${animal.behavior}</p>
</li>

</ul>

<button type="button" class="take-btn">Взяти додому</button>

</div>
         <!-- end render -->

</div>

            </div>

  </div>
</div>




