<div class="container faq-container">
    <h3 class="faq-title">Все, що ви хотіли знати</h3>

    <ul class="faq-list">
        <li class="faq-list-card">
            <div class="faq-list-question-container">
                <div class="faq-list-question">Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика додому?</div>
                <svg class="faq-close-icon" width="24" height="24">
                    <use href="/img/icons.svg#close"></use>
                </svg>
            </div>
            <div class="faq-list-answer-container"></div>
        </li>

        <li class="faq-list-card">
            <div class="faq-list-question-container">
                <div class="faq-list-question">Як мені найкраще підготувати свій дім та родину до появи хвостика?</div>
                <svg class="faq-close-icon" width="24" height="24">
                    <use href="/img/icons.svg#close"></use>
                </svg>
            </div>
            <div class="faq-list-answer-container"></div>
        </li>

        <li class="faq-list-card">
            <div class="faq-list-question-container">
                <div class="faq-list-question">Чи можу я бути впевненим, що тваринка здорова? Розкажіть про щеплення.</div>
                <svg class="faq-close-icon" width="24" height="24">
                    <use href="/img/icons.svg#close"></use>
                </svg>
            </div>
            <div class="faq-list-answer-container"></div>
        </li>

        <li class="faq-list-card">
            <div class="faq-list-question-container">
                <div class="faq-list-question">Я дуже хочу допомогти, але поки не готовий до адопції. Чим я можу підтримати «Хатинку лапок»?</div>
                <svg class="faq-close-icon" width="24" height="24">
                    <use href="/img/icons.svg#close"></use>
                </svg>
            </div>
            <div class="faq-list-answer-container"></div>
        </li>

        <li class="faq-list-card">
            <div class="faq-list-question-container">
                <div class="faq-list-question">Мені сподобалась одна з ваших тваринок на сайті. Чи можу я приїхати, щоб познайомитися з нею особисто?</div>
                <svg class="faq-close-icon" width="24" height="24">
                    <use href="/img/icons.svg#close"></use>
                </svg>
            </div>
            <div class="faq-list-answer-container"></div>
        </li>
    </ul>
</div>