<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer-logo" aria-label="Site logo">
      <svg class="footer-logo-icon" width="302" height="130">
        <use href="/img/icons.svg#logo"></use>
      </svg>
    </a>
  </div>

  <ul class="footer-nav">
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#about">Про нас</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#pets-list">Знайти друга</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#faq">Часті запитання</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#story">Історії успіху</a>
    </li>
  </ul>
  <ul class="footer-social-list">
    <li class="footer-social-item">
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook"
        rel="noopener noreferrer"
      >
        <svg class="footer-social-icon">
          <use href="/img/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>

    <li class="footer-social-item">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
        rel="noopener noreferrer"
      >
        <svg class="footer-social-icon">
          <use href="/img/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
  </ul>
  <div class="footer-divider"></div>

  <p class="footer-copy">© 2025 Хатинка лапок. Всі права захищені.</p>
</footer>
