<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="logo-icon" width="158" height="51">
          <use href="/img/icons.svg#logo"></use>
        </svg>
      </a>
  
<ul class="list-nav">
  <li class="item-list-nav"><a class="item-link" href="#pets-list">Знайди друга</a></li>
  <li class="item-list-nav"><a class="item-link" href="#about">Про нас</a></li>
  <li class="item-list-nav"><a class="item-link" href="#faq">Часті запитання</a></li>
  <li class="item-list-nav"><a class="item-link" href="#story">Історії успіху</a></li>
</ul>
<a class="take-link" href="#pets-list">Взяти друга</a>
<div class="theme-btn" id="themeBtn">

  <!-- <div class="bulb-halo"></div>
  <svg class="bulb-icon" overflow="visible">
    <use href="./img/icons.svg#icon-bulb"/>
  </svg>
  <span class="btn-label" id="themeBtnLabel">OFF</span>
</div> -->

<button class="burger-menu bth-open" type="button" aria-label="Open menu">
  <svg class="burger-icon" width="24" height="24">
    <use href="/img/icons.svg#menu"></use>
  </svg>
</button>
</nav>

</header>
