<div class="mobile-menu">
  <button class="close-btn" type="button">
    <svg class="close-icon" width="24" height="24">
      <use href="/img/icons.svg#close"></use>
    </svg>
  </button>

  <nav class="nav">
    <a class="nav-logo-mob" href="./index.html" aria-label="Site logo">
      <svg class="logo-icon" width="157" height="51">
        <use href="/img/icons.svg#logo"></use>
      </svg>
    </a>
  </nav>
  <ul class="list-mob">
    <li class="item-mob">
      <a class="link-mob" href="#pets-list">Знайди друга</a>
    </li>
    <li class="item-mob"><a class="item-link" href="about">Про нас</a></li>
    <li class="link-mob">
      <a class="item-link" href="#faq">Часті запитання</a>
    </li>
    <li class="item-mob">
      <a class="link-mob" href="#history">Історії успіху</a>
    </li>
  </ul>
  <a class="mob-menu" href="#pets-list">Взяти друга</a>
</div>
