<section id="story" class="reviews">
  <div class="container">
    <h2 class="reviews-title">Щасливі історії, що надихають</h2>

    <p class="reviews-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <div class="loader success-loader visually-hidden">
      <div
        aria-label="Orange and tan hamster running in a metal wheel"
        role="img"
        class="wheel-and-hamster"
      >
        <div class="wheel"></div>

        <div class="hamster">
          <div class="hamster__body">
            <div class="hamster__head">
              <div class="hamster__ear"></div>
              <div class="hamster__eye"></div>
              <div class="hamster__nose"></div>
            </div>

            <div class="hamster__limb hamster__limb--fr"></div>
            <div class="hamster__limb hamster__limb--fl"></div>
            <div class="hamster__limb hamster__limb--br"></div>
            <div class="hamster__limb hamster__limb--bl"></div>
            <div class="hamster__tail"></div>
          </div>
        </div>

        <div class="spoke"></div>
      </div>
    </div>

    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper"></div>
    </div>
    <div class="swiper-controls">
      <div class="success-pagination swiper-pagination-reviews"></div>
      <div class="swiper-nav-buttons">
        <div
          class="swiper-button-prev1 success-btn"
          aria-label="Попередній відгук"
        >
          <svg class="about-us-btn-icon" width="24" height="24">
            <use href="/img/icons.svg#arrow-back"></use>
          </svg>
        </div>
        <div
          class="swiper-button-next1 success-btn"
          aria-label="Наступний відгук"
        >
          <svg class="about-us-btn-icon" width="24" height="24">
            <use href="/img/icons.svg#arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
