<section id="#story" class="reviews">
  <h2 class="reviews-title">Щасливі історії, що надихають</h2>
  <p class="reviews-subtitle">
    Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
  </p>
  <div class="swiper">
    <div class="swiper-wrapper"></div>
  </div>
  <div class="swiper-controls">
    <div class="swiper-pagination"></div>
    <div class="swiper-nav-buttons">
      <button
        class="swiper-button-prev"
        aria-label="Попередній відгук"
      ></button>
      <button class="swiper-button-next" aria-label="Наступний відгук"></button>
    </div>
  </div>
</section>
