:root {
	--color-scheme-1-background: var(--color-mariner-lightest);
	--color-mariner-dark: #88765c;
    --color-scheme-1-text: var(--color-neutral-darkest);
    --color-white: #fff;
    --color-mariner-lighter: #eee9e3;
    --color-mariner-light: #c3b49d;
    --opacity-neutral-darkest-5: rgba(2, 6, 10, 0.05);
   
}



.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  }

  .pet-modal-overlay{
position: fixed;
inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
transition: opacity 0.3s ease, visibility 0.3s ease;
  }


.pet-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

  .pet-modal-window {
     position: relative;
  background: var(--color-scheme-1-background);
  border-radius: 8px;
  padding: 64px 20px;
  width: 100%;
  max-width: 1200px;
  height: auto;
 overflow-y: auto;
max-height: 90vh;
  transform: scale(0.95);
  transition: transform 0.3s ease;
  }

.pet-modal-overlay.is-open .pet-modal-window {
  transform: scale(1);
} 

  .pet-modal-close-btn {
fill: var(--color-white);
stroke-width: 1px;
stroke: var(--color-scheme-1-text);
width: 32px;
height: 32px;
margin: 16px;
  }

  .pet-modal-content {
width: 295px;
height: 884px;
  }

.take-btn {
background-color: var(--color-scheme-1-background);
}
.no-scroll {
  overflow: hidden;
}


.take-btn:hover {
    background-color: var(--color-mariner-dark);
}
.take-btn:focus {
    background-color: var(--color-mariner-dark);
}
.take-btn:active {
    background-color: var(--color-mariner-dark);
}


.pet-modal-img {
color: var(--color-scheme-1-text);
}

.pet-modal-info {
color: var(--color-scheme-1-text);
}

.pet-modal-species {
color: var(--color-scheme-1-text);
}

.pet-modal-name {
color: var(--color-scheme-1-text);
}

.pet-modal-meta {
color: var(--color-scheme-1-text);
}

.pet-modal-age {
color: var(--color-scheme-1-text);
}

.pet-modal-gender {
color: var(--color-scheme-1-text);
}

.pet-modal-list {
color: var(--color-scheme-1-text);
}

.pet-modal-item {
color: var(--color-scheme-1-text);
}

.pet-modal-title {
color: var(--color-scheme-1-text);
}

.pet-modal-text{
color: var(--color-scheme-1-text);
}






@media (min-width: 768px) {
  /* tablet */
}

@media (min-width: 1440px) {
  /* desktop */
}